// CSS down below

// Background Colour for navigation bar
.navi {
  overflow: hidden;
  background-color: #FECCE2;
}

// Text Colour on navigation bar, sizing of text font, sizing of the button itself
.navi a {
  float: left;
  color: #000000;
  text-align: left;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 20px;
}


/* <!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px; // size of the actual navigation bar
  background-color: #FECCE2; //background colour
}

li a {
  display: block;
  color: #000; // black text
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px; // size of text
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
</style>
</head>
<body> */
